[user]
  name = Francisco Martinez
  email = francisco@franciscomartinez.website
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[color]
  ui = true
[credential]
  helper = osxkeychain
[push]
  default = simple
