"*":
  core:
    automaticallyUpdate: false
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 8
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "activate-power-mode":
    comboMode:
      activationThreshold: 1
    particles:
      size:
        max: 2
      spawnCount: {}
    playAudio: {}
    screenShake:
      maxIntensity: 1
  "atom-beautify":
    general:
      _analyticsUserId: "5782489c-a249-4b78-8d69-4544870daadd"
      analytics: false
      beautifyEntireFileOnSave: false
    html:
      indent_inner_html: true
      indent_size: 2
      wrap_attributes: "force"
      wrap_attributes_indent_size: 2
  "autoclose-html": {}
  "exception-reporting":
    userId: "4a10636d-9b36-908e-1bb7-1a6789e2125f"
  "tree-view": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
